@font-face {
  font-family: "Jet Brains Mono";
  src: url("/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("/webfonts/JetBrainsMono-Light.woff2") format("woff2")
  ;
}


body {
  /* background-color: red; */
  background-image: url("./../../zongnan-bao-HLuiRmTI8E0-unsplash.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

.card-style {
  width: 1200px;
  background-color: rgba(236, 252, 255, 0.635);
  /* background-color: orange; */
  border-radius: 45px;
  min-height: 300px;
  position: absolute;
  left: 3%;
  top: 3%;
}

.header {
  color: rgba(0, 0, 0, 0.416);
  display: flex;
  flex-direction: row;
  padding: 3% 4%;
  padding-bottom: 2%;
  justify-content: flex-start;
  align-items: center;
}

.twitch {
  position: relative;
  top: -0.5px;
  font-size: 35px;
}

img {
  max-height: 45px;
  margin-right: 3%;
  fill: rgba(0, 0, 0, 0.416);
}

.username {
  margin-left: 4%;
  font-size: 40px;
}

.message {
  margin: 2% 4%;
  margin-bottom: 4%;
  font-size: 35px;
  
}


@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}